
$darkAccent: #224b4b;
$lightAccent: #2cda9d;
$backgroundBase: #619e9e;
$backgrounddiv: #c0d8d8;
$backgroundapp:#87b5b5;

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 40;
    line-height: 1.5;
    color: black;
    text-align: left;
    background:$backgroundapp;
    margin: 10px 0;
}
